.div1-channelsctn-channels{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2-channelsbox-channels{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 1800px;
}

.div3-channelsbox-channels{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.div4-channels-channels{
    width: 350px;
    height: 180px;
    background-color: #000;
    border-radius: 10px;
    cursor: pointer;
}